.inputBox {
  display: flex;
  flex-direction: column;
  position: relative;
  .input {
    height: 44px;
    border: 1px solid #e1e4e8;
    border-radius: 2px;
    padding-left: 14px;
    color: #4e5d78;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    &:focus {
      outline: none;
    }
  }
  .errorMes {
    color: red;
    font-size: 13px;
    padding-top: 10px;
  }
}
