.admin {
  display: flex;
  border-bottom: 2px solid #e1e4e8;
  justify-content: center;
  align-items: center;

  .admin_search {
    position: relative;
    margin-left: 30px;
    input {
      width: 400px;
      height: 46px;
      border: 2px solid #e1e4e8;
      border-radius: 4px;
      font-size: 18px;
      padding-left: 14px;
      color: #4e5d78;
      &:focus {
        outline: none;
        border: 1px solid #4e5d78;
      }
      &::placeholder {
        color: #4e5d78;
        letter-spacing: 0.3px;
        font-size: 16px;
      }
    }
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
      display: none;
    }
    .admin_search_icon {
      position: absolute;
      top: 16px;
      right: 12px;
      cursor: pointer;
      #search {
        font-size: 18px;
        color: #4e5d78;
      }
    }
  }
  .admin_right {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 246px;
    .admin_menu {
      display: flex;
      border: 1px solid #455674;
      color: #455674;
      justify-content: center;
      width: 110px;
      gap: 12px;
      height: 46px;
      border-radius: 2px;
      font-size: 14px;
      font-weight: 600;
      padding-top: 12px;
      cursor: pointer;
      transition: 0.4s;
      &:hover {
        background-color: #455674;
        color: white;
        transition: 0.4s;
      }
      .admin_menu_icon {
        #bar {
          rotate: 180deg;
          font-size: 18px;
          transform: rotateX(180deg);
        }
      }
    }
    .admin_user {
      display: flex;
      border: 1px solid #455674;
      color: #455674;
      height: 46px;
      border-radius: 2px;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.4s;

      .admin_user_icon {
        display: flex;
        width: 50px;
        border-right: 1px solid;
        color: #455674;
        gap: 12px;
        font-size: 24px;
        font-weight: 600;
        padding-top: 12px;
        cursor: pointer;
        transition: 0.4s;
        justify-content: center;
        &:hover {
          background-color: #455674;
          color: white;
          transition: 0.4s;
        }
        #bell {
        }
      }
      .admin_user_box {
        display: flex;
        align-items: center;
        gap: 14px;
        padding-inline: 20px;
        &:hover {
          background-color: #455674;
          color: white;
          transition: 0.4s;
        }
        span {
        }
        .avatar {
          width: 34px;
          height: 34px;
        }
      }
    }
  }
}
